/* Dark mode colors. */
:root {
	--sl-color-accent-low: var(--o-choco-7);
	--sl-color-accent: var(--o-choco-5);
	--sl-color-accent-high: var(--o-choco-3);
	--sl-color-white: var(--o-gray-1);
	--sl-color-gray-1: var(--o-gray-4);
	--sl-color-gray-2: var(--o-gray-5);
	--sl-color-gray-3: var(--o-gray-6);
	--sl-color-gray-4: var(--o-gray-7);
	--sl-color-gray-5: var(--o-gray-8);
	--sl-color-gray-6: var(--o-gray-9);
	--sl-color-black: var(--o-gray-12);
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #a2e4f0;
	--sl-color-accent: #007a89;
	--sl-color-accent-high: #003a42;
	--sl-color-white: #091b1e;
	--sl-color-gray-1: #002d33;
	--sl-color-gray-2: #113f46;
	--sl-color-gray-3: #346068;
	--sl-color-gray-4: #67949c;
	--sl-color-gray-5: #b0c7cb;
	--sl-color-gray-6: #dff2f5;
	--sl-color-gray-7: #eff8fa;
	--sl-color-black: #ffffff;
}